*{
	margin: 0px;
	box-sizing: border-box;
    box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.42;
	}
.clearfix{
	display: table;
	content: " ";
	clear: both;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 970px;

	line-height: 1.5;
	box-sizing: border-box;
    box-sizing: border-box;
  }
.works-img{
	padding-top: 20px;
	width: 100%;
}

.container, .cleatfix, .nav, footer{
	display: table;
	content: " ";
}
.header-info-right{
	float:right;
	margin-top: 9px;
}
.header-info-left {
	float: left;
}
.header-info {
	padding-top: 40px;
}

button#showRightPush {
	background: none;
	border: none;
	color: #e8e8e8;
	cursor: pointer;
}
button#showRightPush img {
	padding-left: 8px;
}
.cbp-spmenu {
	background: rgba(41, 50, 60, 0.5);
	position: fixed;
}
.cbp-spmenu h3 {
	color: #29323c;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: rgba(232, 232, 232, 0.5);
}
.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}
.cbp-spmenu a:hover {
	background: rgba(232, 232, 232, 0.5);
color: #29323c;
}
.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}
.cbp-spmenu-vertical a {
	border-bottom: 1px solid #f5f5f5;
	padding: 1em;
}
.cbp-spmenu-vertical a:hover {
	text-decoration: none;
}
.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}
.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}
.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}
.cbp-spmenu-right {
	right: -240px;
}
.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
	top: 97px;
	z-index: 999;
}
.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.banner{
	background: url(../images/7.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	text-align: center;
	min-height:750px;
}

.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
.banner-info {
		margin-top: 165px;
		}
.banner-info h1{
	margin:0;
	font-size:38px;
	color:#e8e8e8;
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
	text-align:center;
	}
.banner-info p{
	margin: 30px auto 50px auto;
	font-size: 16px;
	color: #e8e8e8;
	text-align: center;
	width: 55%;
	}
.button{
	text-align:center;
	}
.button a{
	color: #e8e8e8;
	padding: 14px 28px;
	text-decoration: none;
	border-radius: 42px;
	font-size: 15px;
	font-weight: 700;
	border: 1px solid #e8e8e8;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	}
.button a:hover{
	border:1px solid #e8e8e8;
	color:#e8e8e8;
	background:#29323c;
	text-decoration: none;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
	.text-center {
		text-align: center;
	}
.arrow-icon.text-center {
	margin-top:145px;
	}

.radio-box{
	padding: 5px;
	gap: 5px;
	display: flex;
	justify-content: center;
}
.radio-box input[type="radio"]{
	filter: saturate(0);
}

.services{
	background:#f5f5f5;
	padding: 80px 0;
	}
.services-info h2{
	margin:0;
	font-size:26px;
	color:#29323c;
	font-weight:700;
	text-align:center;
	}
.services-info p{
	margin: 18px 0;
	font-size:14px;
	color:#29323c;
	text-align:center;
	}
.strip{
	width: 5%;
	background: #29323c;
	margin: 0 auto;
	padding: 1px;
	}
.services-grids {
	margin-top: 70px;
	justify-content: space-between;
	}
.services-grid{
	float: left;
	width: 25%;
}
.fully-img{
	background:url("../images/1234.png") no-repeat 0px 0px;
	width:121px;
	height:120px;
	display:block;
	margin:0 auto;
	}
.easy-img{
	background:url("../images/1234.png") no-repeat -243px -1px;
	width:121px;
	height:120px;
	display:block;
	margin:0 auto;
	}
.seo-img{
	background:url("../images/1234.png") no-repeat -121px -1px;
	width:121px;
	height:120px;
	display:block;
	margin:0 auto;
	}
.made-img{
	background:url("../images/1234.png") no-repeat -363px -1px;
	width:121px;
	height:120px;
	display:block;
	margin:0 auto;
	}
.services-grid h3{
	margin:26px 0;
	font-size:16px;
	color:#29323c;
	font-weight:700;
	}
.services-grid p{
	margin:0;
	font-size:14px;
	color:#29323c;
	line-height: 1.8em;
	}
/*-- works --*/
.works{
	padding: 80px 0;
	}
.works-info h2{
	margin:0;
	font-size:26px;
	color:#29323c;
	font-weight:700;
	text-align:center;
	}
.works-info p{
	margin: 18px 0;
	font-size:14px;
	color:#29323c;
	text-align:center;
	}
.works-grids {
	margin-top: 70px;
	}
.work-grid{
	float:left;
	width:20%;
	}
.work-img img{
	width:100%;
	}
/*--gallery--*/
ul#filters {
	padding: 0px;
}
#filters {
	margin: 4% 0 0 0;
	padding: 0;
	list-style: none;
}
#filters li {
	display:inline-block;
		display: -webkit-inline-box;
		display: -moz-inline-box;
		display: -o-inline-box;
		display: -ms-inline-box;
}
#filters li span.active,#filters li span {

	text-decoration:none;
	display:block;

	cursor:pointer;
	margin:0 0.3em;

}
#filters li span.active{
	color:#696969;
	font-weight: 500;
}
#filters li span:hover{
	color:#D6D6D6;
}
 #portfoliolist .portfolio {
	box-sizing:border-box;
	box-sizing:border-box;
	box-sizing:border-box;
	width: 20%;
	display: none;
	float: left;
	overflow: hidden;
	padding:0;
}
div#portfoliolist {
	padding: 0;
	margin-top:50px;
}	
.portfolio-wrapper {
	overflow:hidden;
	position: relative !important;
	cursor:pointer;
}
.portfolio-wrapper img{
	width:100%;
	display:block;
}
.portfolio img {
	max-width:100%;
	transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
}
/*-----caption ------*/
.tour-caption {
	display: none;
	top: 0;
	width: 100%;
	position: absolute;
	background:rgba(255, 255, 255, 0.54);
	height: 100%;
	padding-top:16%;
}
.tour-caption span{
	background: url(../images/search.png) no-repeat;
	width: 38px;
	height: 38px;
	display: block;
	text-align: center;
	position: absolute;
	top: 43%;
	right: 41%;
	background-size: 100%;
}
.portfolio-wrapper:hover div.tour-caption {
	display: block;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

/*-- happy clients --*/
.happy-clients{
	padding-bottom: 130px;
	}
.clients-info h2{
	margin:0;
	font-size:26px;
	color:#29323c;
	font-weight:700;
	text-align:center;
	}
.clients-info p{
	margin: 18px 0;
	font-size:14px;
	color:#29323c;
	text-align:center;
	}
.slider-img img{
	width:100%;
	}
.slider-info {
	margin:50px 0 40px 0;
	}
.slider-info p{
	margin:0 auto;
	font-size: 15px;
	width: 90%;
	color: #29323c;
	line-height: 1.8em;
	text-align: center;
	}
.slider-img h3{
	margin:10px 0;
	font-size:16px;
	color:#29323c;
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
	}
.slider-img p{
	margin:0;
	font-size:14px;
	color:#29323c;
	font-family: 'Montserrat', sans-serif;
	}
/*-- proffessional team --*/
.team{
	background:url("../images/22.jpg") no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	min-height:750px;
	padding:80px 0;
}
.team-info h2{
	margin:0;
	font-size:26px;
	color:#e8e8e8;
	font-weight:700;
	text-align:center;
	}
.team-info p{
	margin: 18px 0;
	font-size:14px;
	color:#e8e8e8;
	text-align:center;
	}
.border{
	width: 5%;
	background: #e8e8e8;
	margin: 0 auto;
	padding: 1px;
	}
.team-grids{
	margin: 50px 0 120px 0;
	display: flex;
	justify-content: space-around;
	}
.team-grid{
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.team-image img{
	width:100%;
	}
.team-desc {
	padding: 20px 10px;
	}
.team-image{
	background:rgba(242, 242, 242, 0.75);
	}
.team-desc h3{
	margin:0;
	font-size:16px;
	color:#29323c;
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
	}
.team-desc p{
	margin: 6px 0 16px 0;
	font-size:14px;
	color:#29323c;
	font-family: 'Montserrat', sans-serif;
	}
.team-desc ul{
	margin:0;
	padding:0;
	}
.team-desc ul li{
	display:inline-block;
	padding-left:3px;
	}
.team-desc ul li a.twitter{
	background:url("../images/social.png") no-repeat 0px 0px;
	width:26px;
	height:26px;
	display:block;
	}
.team-desc ul li a.twitter:hover{
	background:url("../images/social.png") no-repeat 0px -27px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.team-desc ul li a.linkin{
	background:url("../images/social.png") no-repeat -30px 0px;
	width:26px;
	height:26px;
	display:block;
	}
.team-desc ul li a.linkin:hover{
	background:url("../images/social.png") no-repeat -30px -27px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.team-desc ul li a.vimeo{
	background:url("../images/social.png") no-repeat -60px 0px;
	width:26px;
	height:26px;
	display:block;
	}
.team-desc ul li a.vimeo:hover{
	background:url("../images/social.png") no-repeat -60px -27px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.team-desc ul li a.dribble{
	background:url("../images/social.png") no-repeat -90px -1px;
	width:26px;
	height:26px;
	display:block;
	}
.team-desc ul li a.dribble:hover{
	background:url("../images/social.png") no-repeat -90px -28px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.team-desc ul li a.message{
	background:url("../images/social.png") no-repeat -120px -1px;
	width:26px;
	height:26px;
	display:block;
	}
.team-desc ul li a.message:hover{
	background:url("../images/social.png") no-repeat -120px -28px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
.meet-button{
	text-align:center;
	}
.meet-button a{
	color: #e8e8e8;
	padding: 14px 28px;
	text-decoration: none;
	border-radius: 42px;
	font-size: 15px;
	font-weight: 700;
	border: 1px solid #e8e8e8;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	}
.meet-button a:hover{
	border:1px solid #e8e8e8;
	color:#e8e8e8;
	background:#29323c;
	text-decoration: none;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}
/*-- team-bottom --*/
.team-bottom{
		background:#f5f5f5;
		padding: 42px 0;
	}
.bottom-grid{
	float:left;
	width:20%;
	}
.pricing-info h2{
	margin:0;
	font-size:26px;
	color:#29323c;
	font-weight:700;
	text-align:center;
	}
.pricing-info p{
	margin: 18px 0;
	font-size:14px;
	color:#29323c;
	text-align:center;
	}
.pricing-table{
	padding:80px 0;
	}
.pricing-grids{
		padding-top:80px;
		}
.pricing-grid{
	width:33.3%;
	float:left;
	border:1px solid #eeeeee;
	}
.pack{
	border-bottom:1px solid #eeeeee;
	padding: 20px;
	}
.pack h3{
	margin:0;
	font-size:20px;
	color:#29323c;
	font-weight:700;
	font-family: 'Montserrat', sans-serif;
	}
.pack p{
	margin:0;
	font-size:44px;
	color:#29323c;
	font-family: 'Montserrat', sans-serif;
	}
.pricing-grid ul{
	padding:0;
	margin:0;
	}
.pricing-grid ul li{
	list-style-type:none;
	line-height:2.8em;
	text-align:center;
	color:#29323c;
	font-size:14px;
	}
.sign-up{
	text-align:center;
	margin-bottom: 45px;
	}
.sign-up a{
	color: #e8e8e8;
	padding: 11px 28px;
	text-decoration: none;
	border-radius: 42px;
	font-size: 15px;
	font-weight: 700;
	background:#29323c;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	}
.sign-up a:hover{
	border:2px solid #29323c;
	background:#ffffff;
	color:#29323c;
	text-decoration: none;
	}
.pricing-grid.highlight {
		margin-top: 35px;
		}
.standard{
	padding-top: 50px;
	border-top: 4px solid #29323c;
	}
ul.three {
margin: 25px 0;
}
ul.two {
margin: 45px 0;
}
ul.one{
margin: 64px 0;
}
.contact-left{
	float:left;
	width:50%;
	height:500px;
	position:relative;
	}
.contact-left iframe{
	height:578px;
	width:100%;
	position:relative;
	}
.nav-icon img{
	position:absolute;
	top:34%;
	left:40%;
	z-index:1;
	}
.contact-right{
	background:url("../images/20.jpg") no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	height:578px;
	float:right;
	width:50%;
}

.contact-info {
	width: 40%;
	margin: 0px auto 0 auto;
	color:#e8e8e8;
	padding:60px 0;
	}
.contact-info input[type="text"]{
	width: 70%;
	color: #c9c9c9;
	background:none;
	margin: 0 0px 23px 23px;
	padding: 10px 10px;
	outline: none;
	border: 1px solid #e8e8e8;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	}
.contact-info textarea{
	width: 70%;
	margin-left: 72px;
	color: #c9c9c9;
	resize: none;
	background:none;
	height: 150px;
	outline: none;
	border: 1px solid #e8e8e8;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	}
.contact-info input[type=submit] {
	color: #ffffff;
	padding: 10px 30px;
	font-size: 14px;
	cursor: pointer;
	font-weight: 500;
	margin: 27px 0 0 280px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border: 1px solid #ffffff;
	background:none;
	}
.contact-info input[type=submit]:hover {
	background:#29323c;
	border: 1px solid #ffffff;
	color:#e8e8e8;
	transition: .5s all;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
	-moz-transition: .5s all;	
	}
/*-- footer --*/
.footer{
	background:#efefef;
	padding: 37px 0;
	}
.footer-left{
	float:left;
	width:50%;
	display:inline;
	flex-direction: row;
	}
.footer-right{
	float:right;
	width:50%;
	display: inline;
	flex-direction: row;
	text-align: right;
	}
.footer-right p{
	float:left;
	width:36%;
	margin: 8px 0 0 0;
	font-size:14px;
	color:#29323c;
	}
.footer-right ul{
	margin:0;
	padding:0;
	float:left;
	}
.footer-right ul li{
	display:inline-block;
	padding-left:3px;
	}
.footer-right ul li a.fb{
	background:url("../images/21.png") no-repeat 0px 0px;
	width:35px;
	height:35px;
	display:block;
	}
.footer-right ul li a.fb:hover{
	background:url("../images/icons.png") no-repeat 0px 0px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transform: rotate(360deg);
	}
.footer-right ul li a.twitt{
	background:url("../images/21.png") no-repeat -44px 0px;
	width:35px;
	height:35px;
	display:block;
	}
.footer-right ul li a.twitt:hover{
	background:url("../images/icons.png") no-repeat -44px 0px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transform: rotate(360deg);
	}
.footer-right ul li a.google{
	background:url("../images/21.png") no-repeat -88px 0px;
	width:35px;
	height:35px;
	display:block;
	}
.footer-right ul li a.google:hover{
	background:url("../images/icons.png") no-repeat -88px 0px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transform: rotate(360deg);
	}
.footer-right ul li a.drib{
	background:url("../images/21.png") no-repeat -132px 0px;
	width:35px;
	height:35px;
	display:block;
	}
.footer-right ul li a.drib:hover{
	background:url("../images/icons.png") no-repeat -132px 0px;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transform: rotate(360deg);
	}
.footer-left img{
	float:left;
	}
.copyright{
	text-align:center;

}
.copyright p{
	font-size:14px;
	margin: 0;
	color:#29323c;
	}
.copyright p a{
	color:#29323c;
	text-decoration:none;
	}
.copyright p a:hover{
	text-decoration:underline;
	}

#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 52%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 55px;
	background: transparent url("../images/themes.png") no-repeat left top;
	margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}
#slider3-pager a  {
  display: inline-block;
}
#slider3-pager {
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a , #slider4-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a ,#slider4-pager a {
  padding: 0;
}
#slider3-pager li, #slider4-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  width:8%;
}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	top: 115%;
	z-index: 999;
	left: 47%;
	padding: 0;
	margin: 0;
}
ul.callbacks_tabs.callbacks2_tabs {
top: 73%;
left:46%;
}
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../images/img-resources.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
}
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
	display: inline-block;
}

/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:14px;
  width:14px;
  border:1px solid #29323c;
  display:inline-block;
	background: #ffffff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.callbacks_here a:after{
	background: #29323c;	
}